*{
    margin: 0;
    padding: 0;

}

/*body{
    
}*/

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(202, 185, 240, 0.5) 0%, rgba(247, 211, 236, 0.5) 
    100%), url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.Javascript{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-size: 300%;
}

p{
    font-size: 20px;
}

.Booleanos{
    text-indent: 3%;
}

.simples{
    text-indent: 2%;
}

.bo{
    text-indent: 4%;
}
.Boo{
    text-indent: 4%;
}

.le{
    text-indent: 4%;
    
}


button{
    border-radius: 5px;
    /*font-weight: bold; */
    background-color:  cadetblue;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: black;
}

img{
    border: 5px dotted black;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 5px black);
    
}

.im{
    filter: drop-shadow(0 0 5px black);
    width: 500px;
}

img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.lis{
    width: 600px;
}

.Estaticos{
    
    font-size: 50px;
}

.din{
    color: black;
    font-size: 50px;
}

section{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    
}




