*{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(202, 185, 240, 0.5) 0%, rgba(247, 211, 236, 0.5) 
    100%), url(img/pythonn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body{
    background-image: linear-gradient(to top, rgba(202, 185, 240, 0.5) 0%, rgba(247, 211, 236, 0.5) 
    100%), url(img/mons.jpg);
}

.python{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-size: 500%;
}

body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
    color: var(--bs-blue);
    text-indent: 2%;
}

img{
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



section{
    background: #F7EEA6 ;
    width: 1200px;
    margin: 15px auto;
    text-align: left;
    border-radius: 20px;
    border: 2px solid transparent; 
}

h1{
    text-indent: 2%;
}

h2{
    text-indent: 2%;
}

h3{
    text-indent: 2%;
}

h4{
    text-indent: 2%;
}

p{
    text-indent: 2%;
}


